body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* home template component */
.advertise_card {
  color: #ffffff;
}
.advertise_card > h3 {
  margin: 5rem 0 0 7rem;
  text-shadow: 2px 2px px red;
  width: 15%;
  font-weight: 600;
}
.advertise_card > h1 {
  text-shadow: 2px 2px 1px red;
  margin: 3rem 0 0 5rem;
  width: 40%;
  font-weight: 00;
}
.advertise_card {
  height: 45vh;
  margin-bottom: 1rem;
}
.home_container {
  background-color: crimson;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home_product_card_container {
  margin: 1rem;
}
/* product card component */

.product_row {
  display: flex;
  flex-direction: row;
}
.image_container {
  background-color: white;
}
.image_container > img {
  height: 140px;
  width: 240px;
  margin: 5px;
}
.image_container :hover {
  transform: scale(1.05);
  border-radius: 2px;
  box-shadow: 0px 0px 3px silver;
}
.product_home_card {
  margin: 0 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 3px white;
}

/* products detail component */
.product_detail_card {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;
}
.detail-img {
  height: 500px;
  width: 1000px;
}

.detail_page_background {
  background: linear-gradient(
    to left top,
    rgba(223, 13, 31, 0.7),
    rgba(245, 48, 235, 0.5)
  );
}
.detail_page {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}
.card {
  border: 2px solid red;
  /* box-shadow: 2px 2px 3px 0px rgb(241, 194, 194); */
}
.list-group-item {
  text-decoration: none;
}
a {
  text-decoration: none;
}
